<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" routerLink="">Carousel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"  routerLinkActive="active">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about-me">About Me <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-portfolio">My Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/contact-me">Contact Me</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<router-outlet></router-outlet>

<div class="container marketing">
<!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
</div>



<!--
The content below is only a placeholder and can be replaced.
<div class="container">
    <div class="row">
    <div class="col">col1</div>
    <div class="col">col2</div>
    <div class="col">col3</div>
    <div class="col">col4</div>
    </div>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
<svg width="257" height="257" xmlns="http://www.w3.org/2000/svg">
  Created with Method Draw - http://github.com/duopixel/Method-Draw/ 
 <g>
  <title>background</title>
  <rect fill="#ffffff" id="canvas_background" height="259" width="259" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <path id="svg_2" d="m0.75,94.085316l34.164685,-59.170627l59.170627,-34.164685l68.329379,0l59.170627,34.164685l34.164677,59.170627l0,68.329379l-34.164677,59.170627l-59.170627,34.164677l-68.329379,0l-59.170627,-34.164677l-34.164685,-59.170627l0,-68.329379z" stroke-width="1.5" stroke="#000" fill="#ff0000"/>
  <text xml:space="preserve" text-anchor="start" font-family="Arvo, sans-serif" font-size="175" id="svg_5" y="188.75" x="55.367188" stroke-width="0" stroke="#ffffff" fill="#ffffff">M</text>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_6" y2="256.25" x2="129.75" y1="1.25" x1="124.75" stroke-width="1.5" stroke="#ffffff" fill="none"/>
 </g>
</svg>
    
</div>
<h2>Here are some links to help you start: </h2>
<h3><router-outlet></router-outlet></h3>
<ul>
  <li>
    <h2><a routerLink="/about-me">About Me</a></h2>
      
     
  </li>
  <li>
    <h2><a routerLink="/my-portfolio">My Portfolio</a></h2>
      
     
  </li>
  <li>
    <h2><a  routerLink="/contact-me">Contact Me</a></h2>
      
      
  </li>
</ul>

-->
